@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900');

body {
    font-family: 'Montserrat', sans-serif;
}

/*DEFAULT PAGINATOR*/
.paginator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.paginator a, .paginator span {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #cccccc;
    border-right: 0;
    color: #555555;
    font-weight: var(--weight-bold);
    text-decoration: none;
    transition-duration: 0.2s;
}

.paginator a:first-of-type {
    -webkit-border-radius: var(--radius-normal) 0 0 var(--radius-normal);
    -moz-border-radius: var(--radius-normal) 0 0 var(--radius-normal);
    border-radius: var(--radius-normal) 0 0 var(--radius-normal);
}

.paginator a:last-of-type {
    border-right: 1px solid #cccccc;
    -webkit-border-radius: 0 var(--radius-normal) var(--radius-normal) 0;
    -moz-border-radius: 0 var(--radius-normal) var(--radius-normal) 0;
    border-radius: 0 var(--radius-normal) var(--radius-normal) 0;
}

.paginator a:hover {
    background: var(--gradient-nuvem-shop);
    background-size: 200%;
    color: #FBFBFB;
}

.paginator span {
    background: #cccccc;
}

/*WYSH HTMLCHARS*/
.htmlchars {
    color: var(--color-default);
}

/*.htmlchars :first-child {*/
/*    margin-top: 0;*/
/*}*/

.htmlchars h2,
.htmlchars h3,
.htmlchars h4,
.htmlchars h5 {
    margin: 40px 0 20px 0;
    font-weight: var(--weight-bold);
}

.htmlchars h2 {
    font-size: 1.8em;
}

.htmlchars h3 {
    font-size: 1.6em;
}

.htmlchars h4 {
    font-size: 1.4em;
}

.htmlchars h5 {
    font-size: 1.2em;
}

.htmlchars p {
    margin-top: 25px;
}

.htmlchars ul,
.htmlchars ol {
    margin: 20px 0 20px 40px;
}

.htmlchars ul {
    list-style: circle;
}

.htmlchars ol li,
.htmlchars ul li {
    margin-top: 5px;
}

.htmlchars a {
    color: var(--color-green);
    font-weight: var(--weight-bold);
    text-decoration: none;
}

.htmlchars a:hover {
    text-decoration: underline;
}

.htmlchars img {
    margin-top: 30px;
    -webkit-border-radius: var(--radius-medium);
    -moz-border-radius: var(--radius-medium);
    border-radius: var(--radius-medium);
}

.htmlchars pre {
    padding: 20px;
    -webkit-border-radius: var(--radius-normal);
    -moz-border-radius: var(--radius-normal);
    border-radius: var(--radius-normal);
    background: #EEEEEE;
    margin: 20px 0;
    overflow-x: auto;
}

/*SOCIAL SHARE*/
.social_share {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 30px;
    background: #FBFBFB;
    -webkit-border-radius: var(--radius-medium);
    -moz-border-radius: var(--radius-medium);
    border-radius: var(--radius-medium);
    border-bottom: 3px solid var(--color-green);
}

.social_share_title {
    font-size: var(--font-normal);
    font-weight: var(--weight-normal);
}

.social_share_medias {
    display: flex;
}

.social_share_medias div {
    margin-right: 10px;
}

/*EMPTY CONTENT*/
.empty_content {
    width: 800px;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    color: var(--color-default);
}

.empty_content_cover {
    width: 500px;
}

.empty_content_title {
    font-size: 2em;
    font-weight: var(--weight-bold);
}

.empty_content_desc {
    font-size: 1.1em;
    margin: 10px 0 40px 0;
}

.title_image {
    width: 300px;
    max-width: 100%;
    margin: 0 auto 30px auto;
}

.empty_content_btn {
    display: inline-block;
    padding: 20px 40px;
    font-weight: var(--weight-bold);
    color: #ffffff;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 1.4em;
}

/* MAIN HEADER */
.main_header {
    padding: 15px 0;
    color: #ffffff;
}

.main_header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*logo*/
.main_header_logo h1 a {
    font-weight: var(--weight-normal);
    color: #ffffff;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

/*nav*/
.main_header_nav {
    display: flex;
    align-items: center;
}

.main_header_nav_links {
    display: block !important;
}

.main_header_nav_links .link {
    display: inline-block;
    padding: 6px 12px;

    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: var(--weight-bold);
    font-size: var(--font-small);
}

.main_header_nav_links .link:hover {
    background: rgba(0, 0, 0, 0.5);
}

.main_header_nav_links .login {
    background: var(--color-nuvem-shop);
}

/*mobile*/
.main_header_nav_mobile,
.main_header_nav_mobile_close {
    display: none;
}

/*CONTENT*/

/*Products*/
.product_content {
    padding-bottom: 0;
}

.product_header {
    text-align: center;
    margin-bottom: 30px;
    color: #555555;
}

.product_header h2 {
    font-size: 2em;
    font-weight: var(--weight-light);
}

.product_header p {
    margin-top: 10px;
}

.product_articles {
    display: flex;
    flex-wrap: wrap;
}

.product_article {
    flex-basis: calc(25% - 40px);
    margin: 20px;
    color: #555555;
}

.product_view_thumb{
    width: 12%;
    float: left;
}
.product_view_thumb img{
    width: 100%;
}

.product_view_cover_large{
    margin-left: 3%;
    width: 85%;
    float: left;
}

.product_article img {
    -webkit-border-radius: var(--radius-medium);
    -moz-border-radius: var(--radius-medium);
    border-radius: var(--radius-medium);
    border-bottom: 3px solid #E9E9E9;
}

.product_article:hover img {
    border-color: var(--color-nuvem-shop);
}

.product_price {
    font-size: 1.4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product_article h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-bold);
}

.product_article .meta {
    font-size: var(--font-small);
    font-weight: var(--weight-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}

.product_article p {
    font-size: var(--font-small);
    margin: 20px 0;
}

.product_article a {
    text-decoration: none;
    color: #555555;
}

.product_article a:hover {
    text-decoration: underline;
}


/*opt out*/
.footer_optout {
    background: url("../images/footer-bg.jpg") top center no-repeat;
    background-size: cover;
    padding-top: 20px;
    margin-top: 40px;
}

.footer_optout_content {
    text-align: center;
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

.footer_optout .fa {
    font-size: 5em;
    color: #555555;
}

.footer_optout h2 {
    font-size: 2em;
    font-weight: var(--weight-black);
    color: #555555;
}

.footer_optout p {
    margin: 20px 0 40px;
}

.footer_optout_btn {
    display: inline-block;
    cursor: pointer;
    padding: 15px 40px;
    font-size: var(--font-medium);
    color: #ffffff;
    font-weight: var(--weight-black);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

/*NOT FOUND PAGE 404*/
.not_found {
    text-align: center;
    color: #555555;
}

.not_found .error {
    font-size: 8em;
    font-weight: var(--weight-light);
    color: #cccccc;
    margin-bottom: 40px;
}

.not_found_header {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
}

.not_found p a {
    color: var(--color-green);
    text-decoration: none;
    font-weight: var(--weight-bold);
}

.not_found p a:hover {
    text-decoration: underline;
}

.not_found_btn {
    display: inline-block;
    margin-top: 60px;
    padding: 20px 40px;
    color: #ffffff;
    text-decoration: none;
    font-weight: var(--weight-bold);
}

/*Product PAGE*/
.product_page_header {
    text-align: center;
    padding: 40px;
    background: var(--gradient-nuvem-shop);
    background-size: 200%;
}

.product_page_header h1 {
    font-size: 3em;
    color: rgba(0, 0, 0, 0.4);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
}

.product_page_header p {
    width: 700px;
    max-width: 100%;
    margin: 20px auto 30px auto;
}

.product_page_header form {
    display: inline-block;
    width: 400px;
    max-width: 100%;
}

.product_page_header form label {
    display: flex;
    align-items: center;
    background: #ffffff;
    justify-content: center;
    -webkit-border-radius: var(--radius-large);
    -moz-border-radius: var(--radius-large);
    border-radius: var(--radius-large);
    overflow: hidden;
}

.product_page_header form input {
    flex-basis: 100%;
    padding: 12px 12px 12px 20px;
    font-size: var(--font-normal);
    border: none;
    background: #ffffff;
    outline: none;
    color: #555555;
}

.product_page_header form button {
    padding: 0 20px 0 0;
    font-size: var(--font-medium);
    border: none;
    cursor: pointer;
    outline: none;
    color: #555555;
}

/*POST PAGE*/
.product_view_hero {
    width: 860px;
    max-width: 90%;
    margin: 0 auto;
    padding: 40px 0;
}

.product_view_header {
    position: relative;
    text-align: center;
}

.product_view_header h1 {
    font-size: 2.4em;
    font-weight: var(--weight-normal);
    margin: 30px 0;
    color: #FBFBFB;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.product_view_header:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 70%;
    background: var(--gradient-nuvem-shop);
    background-size: 200%;
    z-index: var(--index-back);
}

.product_view_cover {
    -webkit-border-radius: var(--radius-medium);
    -moz-border-radius: var(--radius-medium);
    border-radius: var(--radius-medium);
    border-bottom: 3px solid var(--color-nuvem-shop);
}

.product_view_content {
    width: 860px;
    max-width: 90%;
    margin: 0 auto;
}

.product_view_meta {
    /*display: flex;*/
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
    color: #555555;
}

.product_view_meta .author {
    display: flex;
    align-items: center;
}

.product_view_meta .author .name {
    padding-left: 10px;
}

.product_view_meta .author img {
    width: 40px;
    -webkit-border-radius: var(--radius-round);
    -moz-border-radius: var(--radius-round);
    border-radius: var(--radius-round);
}

.product_view_related.content {
    padding-bottom: 0;
}

.product_view_related_header {
    text-align: center;
    color: #555555;
    margin-bottom: 30px;
}

.product_view_related header h4 {
    font-size: 3em;
    font-weight: var(--weight-light);
}

.product_view_related header p {
    margin-top: 10px;
    font-size: var(--font-small);
}

/*AUTH IN*/
.auth_content {
    color: #555555;
}

.auth_content a {
    font-weight: var(--weight-bold);
    color: var(--color-green);
    text-decoration: none;
    transition: var(--hover-duration);
}

.auth_content a:hover {
    color: var(--hover-color-green);
}

.auth_header {
    text-align: center;
    margin-bottom: 50px;
}

.auth_header h1 {
    font-size: 2.4em;
    font-weight: var(--weight-light);
}

.auth_form {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
}

.auth_form_label{
    display: flex;
}

.auth_form_label label{
    width: calc(50% - 10px);
}

.auth_form_label label:last-of-type{
    margin-left: 20px;
}

.auth_form label {
    display: block;
    margin-top: 30px;
}

.auth_form label div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between;
    font-size: var(--font-small);
    font-weight: var(--weight-bold);
}

.auth_form label input {
    color: #555555;
    display: block;
    width: 100%;
    font-size: var(--font-normal);
    padding: 15px 20px;
    outline: none;
    border: 1px solid #cccccc;
    border-radius: var(--radius-medium);
    -webkit-border-radius: var(--radius-medium);
    -moz-border-radius: var(--radius-medium);
}

.auth_form .check {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 20px 0 30px 0;
    font-size: var(--font-small);
    transition: var(--hover-duration);
}

.auth_form .check:hover {
    color: #000000;
}

.auth_form .check input {
    width: auto;
    font-size: var(--font-large);
    margin-right: 10px;
    display: inline-block;
}

.auth_form_btn {
    display: block;
    width: 100%;
    border: none;
    padding: 15px;
    font-size: var(--font-medium);
    color: #ffffff;
    font-weight: var(--weight-black);
    cursor: pointer;
    -webkit-border-radius: var(--radius-medium);
    -moz-border-radius: var(--radius-medium);
    border-radius: var(--radius-medium);
    margin-top: 30px;
}

@media (max-width: 62em) {
    .main_header_logo {
        font-size: 0.8em;
    }

    .main_header_nav {
        text-align: center;
    }

    .main_header_nav_mobile {
        display: block;
        font-size: var(--font-medium);
        cursor: pointer;
        padding: 4px 8px;
        background: rgba(0, 0, 0, 0.3);
    }

    .main_header_nav_mobile:hover {
        background: rgba(0, 0, 0, 0.6);
    }

    .main_header_nav_mobile_close {
        cursor: pointer;
        display: block;
        padding: 10px;
        color: var(--color-red);
        font-size: 2em;
    }

    .main_header_nav_mobile_close:hover {
        color: var(--hover-color-red);
    }

    .main_header_nav_links {
        display: none;
        position: fixed;
        z-index: var(--index-menu);
        left: 100%;
        top: 0;
        background: #ffffff;
        width: 300px;
        height: 100%;
        max-width: 80%;
        padding: 20px;
        border-left: 1px solid #E9E9E9;
    }

    .main_header_nav_links .login,
    .main_header_nav_links .link {
        background: none;
        display: block;
        color: #555555;
        padding: 10px;
        transition-duration: 0s;
    }

    .main_header_nav_links .link:hover {
        color: #ffffff;
        background: #ffffff;
        background-image: var(--gradient-nuvem-shop);
    }

    .main_footer_content {
        flex-wrap: wrap;
        text-align: center;
    }

    .main_footer_content article {
        flex-basis: 50%;
    }

    .product_article {
        flex-basis: calc(50% - 40px);
    }

    .faq_ask {
        flex-basis: 100%;
        margin: 20px 0 0 0;
    }
}

@media (max-width: 52em) {
    .home_optin_content {
        flex-wrap: wrap;
        text-align: center;
    }

    .home_optin_content_flex {
        flex-basis: 100%;
    }

    .about_page_steps article {
        flex-basis: 100%;
        margin: 20px 0 0 0;
    }

    .product_view_header:after {
        height: 120%;
    }
    .product_price{
        display: block;
        margin-top: 20px;
    }
    .product_view_meta {
        display: none;
    }

    .social_share {
        flex-wrap: wrap;
        justify-content: center;
    }

    .social_share_title {
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .product_view_header h1 {
        font-size: 1.8em;
    }

    .product_view_hero {
        padding: 10px 0 0 0;
    }
}

@media (max-width: 32em) {
    .htmlchars h2 {
        font-size: 1.4em;
    }

    .main_footer_content article {
        flex-basis: 100%;
    }

    .product_view_header h1 {
        font-size: 1.2em;
    }

    .product_article {
        text-align: center;
        flex-basis: calc(100% - 40px);
    }


    .optin_page_content h1 {
        font-size: 1.8em;
    }
}